$calendar-width: 350px;
$calendar-height: 240px;

$calendar-header-width: 350px;
$calendar-header-height: 44px;

$calendar-header-button-width: 44px;
$calendar-header-button-height: 44px;

$calendar-date-button-width: 50px;
$calendar-date-button-height: 36px;

$calendar-date-button-color-default: white;
$calendar-date-button-color-hover: #e6e6e6;
$calendar-date-button-color-today: #ffff76;
$calendar-date-button-color-active: #006edc;
$calendar-date-button-color-none-current-month: #757575;
